<!Doctype html>

<html xmlns:th="http://thymeleaf.org">

<head th:replace="layout :: site-head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>images! </title>
    <!-----review  script--->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <!-----review  script end--->
</head>

<!-- Using the logged-in fragment -->
<header th:replace="layout :: logged-in"></header>
<!-- Display all the images in user home page after successful log in-->

<style>
body {
    background-image: linear-gradient(#4A148C, #E53935);
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden
}

</style>
<body>
<center>
    <h1>Welcome User. These are the images</h1>
    <main id="images">
        <post th:each="i : ${images}">

            <div>
                <img style="max-width:100%;height:auto;" th:src="'data:image/jpeg;base64,'+${i.imageFile}"/>
            </div>
            <a th:href="'/images/' + ${i.title}">
                <h3 style="color:black;" th:text="${i.title}">Title of image</h3>
            </a>
            <i>Posted On: </i> <span th:text="${i.date}"></span>
        </post>
    </main>
</center>
</body>
</html>